
    <html lang="en">
    <head>
        <link href="assets/style.css" rel="stylesheet" type="text/css"/>

    <title>Register</title>
    <meta charset="utf-8">
    </head>
    <body style="margin-bottom:5%;">

    <div>
        </div>
        <section class="ftco-section"> 
            <div class="container"> <!-- Lines 9-15 build header -->
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
              <img src="assets/enjoi.png" alt="centered image" height="150" width="275"> 
                        <h4>Register</h4>
            </div>
          </div>
    
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="wrapper">
                            

                                <div class="card shadow-2-strong" style="width:100%; border-radius: 1rem; background-color:#272a34;">
                                    <div class="card-body p-5 text-center"><br>
                                      <!-- <h3 class="mb-5">Register</h3> -->
                                      <p style="color:white; margin: 0;">First Name</p>
                                      <div class="form-outline mb-4">
                                        <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="First Name" v-model="fname"/>
                                      </div>
                                      <p style="color:white; margin: 0;">Last Name</p>
                                      <div class="form-outline mb-4">
                                        <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Last Name" v-model="lname"/>
                                      </div>
                                      <p style="color:white; margin: 0;">Email</p>
                                      <div class="form-outline mb-4">
                                        <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Email" v-model="email"/>
                                      </div>
                                      <p style="color:white; margin: 0;">Username</p>
                                      <div class="form-outline mb-4">
                                        <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Username" v-model="username"/>
                                      </div>
                                      <p style="color:white; margin: 0;">Password</p>
                                      <div class="form-outline mb-4">
                                        <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Password" v-model="pass"/>
                                      </div>
                                      <button class="button-19" style="width: 25%;" type="submit">Register</button>
                                      
                                      
                                        <p class="mb-0">Already have an account? <a href="login.html" class="mb-22 fw-bold">Login</a></p><br>
                                      
                                      
                                   
                                  </div>
                  
                                     
    
                     
                     
                    
                  </div>
                </div>							
              </div>
                    </div>
        </div>	
      </section>
    </body>
    
    </html>
    