<html lang="en">
<head>
<link href="../css/style.css" rel="stylesheet" type="text/css"/>
<meta charset="utf-8">
</head>
<body style="margin-bottom:5%;" >
  <div class="nav">
    <a href="index.html">Home</a>
   
  </div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <img src="../assets/enjoi.png" alt="centered image" height="150" width="275">
                <h4>Exceptional Login</h4>
            </div>
        </div>

    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="wrapper">
                <div class="row no-gutters">
                     <div class="card shadow-2-strong" style="width:100%; border-radius: 1rem; background-color:#272a34;">
            <div class="card-body p-5 text-center"><br>
              <h3 class="mb-5">Sign in</h3>
              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Email" v-model="email"/>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Password" v-model="password"/>
              </div>
              <button class="button-19" style="width: 25%;" type="submit">Login</button>
              
              <div>
                <p class="mb-0">Don't have an account? <a href="pages/register.html" class="mb-22 fw-bold">Sign Up</a></p>
              </div>
            </div>
          </div>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
</section>
</body>

</html>